<?xml version="1.0"?>
<model>
  <name>my_arm</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Georgios Sidiropoulos</name>
    <email>sidiropoulosgeorgios000@gmail.com</email>
  </author>

  <description>
    Single-link human arm mesh: OBJ for visual, STL for collision.
    "Realistic arm" (https://skfb.ly/opJCL) by object is licensed under Creative Commons Attribution (http://creativecommons.org/licenses/by/4.0/).
  </description>
</model>
