<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="load_gazebo_sim_ros2_control_plugin" params="robot_name use_gazebo controllers_file:=none">
        <xacro:if value="${use_gazebo}">
            <gazebo>
                <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                    <xacro:if value="${controllers_file == 'none'}">
                        <parameters>$(find spraying_pathways)/config/mycobot_320_ur/ros2_controllers.yaml</parameters>
                    </xacro:if>
                    <xacro:unless value="${controllers_file == 'none'}">
                        <parameters>${controllers_file}</parameters>
                    </xacro:unless>
                    <controller_manager_node_name>controller_manager</controller_manager_node_name>
                </plugin>
            </gazebo>
        </xacro:if>
    </xacro:macro>
</robot>